$white: rgb(240, 240, 240);
$black: rgb(15, 15, 15);
$red: rgb(240, 0, 0);

* {
    margin: 0;
    padding: 0;
    font-size: calc(3.5rem * 62.5%);
}

body {
    background-color: $black;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $white;
    background-color: $black;
    margin-top: 4vh;
    margin-bottom: 3vh;
    img {
        width: 15vw;
        height: 15vw;
    }
    h1 {
        font-size: 6vw;
    }
    h2 {
        text-align: center;
        font-size: 3vw;
    }
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    .flex-item {
        width: 96vw;
        padding: .25rem;
        border-radius: .75em;

        text-decoration: none;
        margin-top: .5rem;

        
        .top {
            display: flex;
            align-items: center;
            background-color: $black;
            border-radius: .75rem;
            transition: 0.35s;
            &:hover {
                background: 0;
            }
            .icon {
                img {
                    margin-top: .25rem;
                    margin-left: 1rem;
                    width: 8.25vw;
                    height: 8.25vw;
                    margin-right: 2vw;
                }
            }
            .text {
                h1 {
                    color: $white;
                    font-size: 7vw;
                }
                h2 {
                    color: $white;
                    font-size: 3.5vw;
                    margin-bottom: .25rem;
                    margin-left: .1rem;
                }
            }
            
        }
    }
}

// Background gradient colors
.instagram {
    background: linear-gradient(
        45deg,
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d
    );
}
.youtube {
    background: linear-gradient(45deg, #f80000, #e80000, #d80000);
}
.discord {
    background: linear-gradient(
        45deg,
        rgb(101, 112, 232),
        rgb(56, 71, 237),
        rgb(49, 65, 239),
        rgb(38, 54, 235),
        rgb(20, 38, 235),
        rgb(0, 21, 255)
    );
}
.websites {
    background: linear-gradient(45deg, #25df00, #22cb00, #1eb300);
}
.reddit {
    background: linear-gradient(45deg, #ff7300, #e86900, #de6400);
}
.yellow {
    background: linear-gradient(
        45deg,
        #ffff00,
        #dfdf00,
        #b9b900,
        #b9b900,
        #dfdf00,
        #fff200
    );
}