$white: rgb(240, 240, 240);
$black: rgb(15, 15, 15);
$red: rgb(240, 0, 0);

// broken 300px and smaller
// working from 300px-800px
// 800px+ WIP

* {
    margin: 0;
    padding: 0;
    font-size: calc(3.5rem * 62.5%);
    color: $white;
}

body {
    background-color: $black;
}

@media only screen and (min-width: 1351px) {
    .header {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        img {
            width: 10rem;
            height: 10rem;
        }
        hr {
            margin-top: .5rem;
            margin-bottom: .5rem;
            width: 95vw;
            opacity: .85;
            background: $white;
            border: 1px solid $white;
        }
    }
    .first {
        margin-top: 1rem;
    } 
    
    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .flex-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .75rem;
            width: 30rem;
            height: 10rem;
            border-radius: 1.75rem;
            text-decoration: none;
            .top {
                display: flex;
                align-items: center;
                border-radius: 1.5rem;
                width: 96%;
                height: 90%;
                background-color: $black;
                transition: 0.35s;
                &:hover {
                    background: 0;
                }
                .icon img {
                    margin-left: 1rem;
                    width: 4rem;
                    height: 4rem;
                }
                .text {
                    margin-left: 1rem;
                    h1 {
                        font-size: 2rem;
                    }
                    h2 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    
    .footer {
        p {
            color: $white;
                font-weight: bold;
                font-size: 2rem;
                text-align: center;
                margin-top: 5rem;  
        }
    }
}



@media only screen and (max-width: 1351px) {
    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $white;
        background-color: $black;
        margin-top: 1vh;
        img {
            width: 20vw;
            height: 20vw;
        }
        h1 {
            font-size: 8vw;
        }
        h2 {
            width: 95vw;
            padding: .5rem;
            text-align: center;
            font-size: 4.65vw !important; // also in html, having trouble w it
        }
        hr {
            margin-top: .5rem;
            margin-bottom: .5rem;
            width: 95vw;
            opacity: .85;
            background: $white;
            border: 1px solid $white;
        }
    }
    
    .main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        .flex-item {
            width: 96vw;
            padding: .25rem;
            border-radius: .75em;
    
            text-decoration: none;
            margin-top: .5rem;
    
            
            .top {
                display: flex;
                align-items: center;
                background-color: $black;
                border-radius: .75rem;
                transition: 0.35s;
                &:hover {
                    background: 0;
                }
                .icon {
                    img {
                        margin-top: .25rem;
                        margin-left: 1rem;
                        width: 8.25vw;
                        height: 8.25vw;
                        margin-right: 2vw;
                    }
                }
                .text {
                    h1 {
                        color: $white;
                        font-size: 7vw;
                    }
                    h2 {
                        color: $white;
                        font-size: 3.5vw;
                        margin-bottom: .25rem;
                        margin-left: .1rem;
                    }
                }
                
            }
        }
    }
    
    .footer {
        p {
            color: $white;
            font-weight: bold;
            font-size: 4.5vw;
            text-align: center;
            margin-top: 5vh;    
        }
    }
}



// Background gradient colors
.instagram {
    background: linear-gradient(
        45deg,
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d
    );
}
.youtube {
    background: linear-gradient(45deg, #f80000, #e80000, #d80000);
}
.discord {
    background: linear-gradient(
        45deg,
        rgb(101, 112, 232),
        rgb(56, 71, 237),
        rgb(49, 65, 239),
        rgb(38, 54, 235),
        rgb(20, 38, 235),
        rgb(0, 21, 255)
    );
}
.websites {
    background: linear-gradient(45deg, #25df00, #22cb00, #1eb300);
}
.reddit {
    background: linear-gradient(45deg, #ff7300, #e86900, #de6400);
}
.yellow {
    background: linear-gradient(
        45deg,
        #ffff00,
        #dfdf00,
        #b9b900,
        #b9b900,
        #dfdf00,
        #fff200
    );
}