* {
  margin: 0;
  padding: 0;
  font-size: calc(3.5rem * 62.5%);
  color: #f0f0f0;
}

body {
  background-color: #0f0f0f;
}

@media only screen and (min-width: 1351px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .header h2 {
    font-size: 1.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header img {
    width: 7.5rem;
    height: 7.5rem;
  }
  .header hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 95vw;
    opacity: 0.85;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
  }
  .first {
    margin-top: 1rem;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .flex-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.75rem;
    width: 30rem;
    height: 10rem;
    border-radius: 1.75rem;
    text-decoration: none;
  }
  .main .flex-item .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1.5rem;
    width: 96%;
    height: 90%;
    background-color: #0f0f0f;
    -webkit-transition: 0.35s;
    transition: 0.35s;
  }
  .main .flex-item .top:hover {
    background: 0;
  }
  .main .flex-item .top .icon img {
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
  }
  .main .flex-item .top .text {
    margin-left: 1rem;
  }
  .main .flex-item .top .text h1 {
    font-size: 2rem;
  }
  .main .flex-item .top .text h2 {
    font-size: 1.5rem;
  }
  /*.section-header {
        text-align: center;
        font-size: 2rem;
        margin-right: 35vw;
    }
    .divider {
        display: flex;
        justify-content: center;

        .main-divider {
            display: flex;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            width: 95vw;
            opacity: 0.85;
            background: $white;
            border: 1px solid $white;
        }
    } */
  .footer .buzzwords {
    padding: 2rem;
    margin-top: 5rem;
  }
  .footer .buzzwords p {
    font-size: 1.75rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .footer p {
    color: #f0f0f0;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 1351px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #f0f0f0;
    background-color: #0f0f0f;
    margin-top: 1vh;
  }
  .header img {
    width: 20vw;
    height: 20vw;
  }
  .header h1 {
    font-size: 8vw;
  }
  .header h2 {
    width: 95vw;
    padding: 0.5rem;
    text-align: center;
    font-size: 4.65vw !important;
  }
  .header hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 95vw;
    opacity: 0.85;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .flex-item {
    width: 96vw;
    padding: 0.25rem;
    border-radius: 0.75em;
    text-decoration: none;
    margin-top: 0.5rem;
  }
  .main .flex-item .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0f0f0f;
    border-radius: 0.75rem;
    -webkit-transition: 0.35s;
    transition: 0.35s;
  }
  .main .flex-item .top:hover {
    background: 0;
  }
  .main .flex-item .top .icon img {
    margin-top: 0.25rem;
    margin-left: 1rem;
    width: 8.25vw;
    height: 8.25vw;
    margin-right: 2vw;
  }
  .main .flex-item .top .text h1 {
    color: #f0f0f0;
    font-size: 7vw;
  }
  .main .flex-item .top .text h2 {
    color: #f0f0f0;
    font-size: 3.5vw;
    margin-bottom: 0.25rem;
    margin-left: 0.1rem;
  }
  .footer .buzzwords {
    padding: 5vw;
    margin-top: 5vh;
  }
  .footer .buzzwords p {
    font-size: 3vw;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .footer p {
    color: #f0f0f0;
    font-weight: bold;
    font-size: 4.5vw;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.youtube {
  background: linear-gradient(45deg, #f80000, #e80000, #d80000);
}

.discord {
  background: linear-gradient(45deg, #6570e8, #3847ed, #3141ef, #2636eb, #1426eb, #0015ff);
}

.reddit {
  background: #ff4301;
}

.websites {
  background: linear-gradient(45deg, #00baba, #009c9c);
}

.twitch {
  background: linear-gradient(45deg, #6441a5, #5f2cbf);
}
/*# sourceMappingURL=styles.css.map */